<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>

<body>
<h1 th:text="'Add tag for ' + ${project.name} + '!'"></h1>
            <form id="addTagForm" th:action="@{/projects/project/{id}/addTag(id=${project.id})}" method="POST">
  <table>
		<tr>
		<td><label for="TagNameInput"> Tag Name</label></td>
		<td><input id=TagNameInput type ="text" placeholder="NAME" 	required th:field="${addTagForm.name}" /></td>
		<td th:if="${#fields.hasErrors('addTagForm.name')}"
					th:errors="${addTagForm.name}" th:style="'color:red'"></td>
		</tr>
		<tr>
		<td><label for="TagColorInput"> Tag Color</label></td>
		<td><input id=TagColorInput type ="text" placeholder="COLOR" 	required th:field="${addTagForm.color}" /></td>
		<td th:if="${#fields.hasErrors('addTagForm.color')}"
					th:errors="${addTagForm.color}" th:style="'color:red'"></td>
		</tr>
		<tr>
		<td><label for="descriptionInput"> Description</label></td>
		<td><input id=	descriptionInput type ="text" placeholder="DESCRIPTION" required th:field="${addTagForm.description}" /></td>
		</tr>
		<tr>
		 	<td><button type="submit">Register</button></td>
		</tr>
	</table>
	</form>	
  		
</body>
</html>