<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>EsameGiugno</title>
</head>
<body>
	<h1>Add new Task</h1>
	<h2 th:text ="${project.name}"></h2>
	<form id="registerTaskForm" th:action="@{/addTask}" method="POST">
		<table>
			<tr>
				<td><label for="taskNameInput"> Task Name</label></td>
				<td><input id=taskNameInput type="text" placeholder="NAME"
					required th:field="${taskForm.name}" /></td>
				<td th:if="${#fields.hasErrors('taskForm.name')}"
					th:errors="${taskForm.name}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="taskDescriptionInput"> Description</label></td>
				<td><input id=TaskDescriptionInput type="text"
					placeholder="DESCRIPTION" required
					th:field="${taskForm.description}" /></td>
					<td th:if="${#fields.hasErrors('taskForm.description')}"
					th:errors="${taskForm.description}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><button type="submit">ADD</button></td>
			</tr>
		</table>
	</form>
</body>
</html>