<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EsameGiugno</title>
</head>
<body>
	<h1>All Users  </h1>
<div>
	<table class = "table table-hover" >
	<thead>
	<tr>
		<th>  Username_ </th>
		<th>  _FirstName_  </th>
		<th>  _LastName_  </th>
		<th>  _Delete  </th>	
	</tr>
	</thead>
     <tbody>
	<tr th:each = "credentials : ${credentialsList}" th:if="${credentials.role} == 'DEFAULT'" >
		<td th:text=" ${credentials.username}"></td>
		<td th:text=" ${credentials.user.firstName}"></td>
	    <td th:text=" ${credentials.user.lastName}"></td>
     <td>
	    <form method="POST" th:action="@{/admin/users/{username}/delete(username=${credentials.username})}">
	    		<button type="submit" name="submit" value="value">DELETE</button>
	    	</form>

	    </td>
	    
	  
	</tbody>
	</table>
	 
	  Back to <a th:href="@{/home}">home Page</a>
</div>
</body>
</html>
