<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
</head>
<body>
	<h1 th:text="${project.name}"></h1>
	<h2>Share with:</h2>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username_</th>
					<th>_FirstName_</th>
					<th>_LastName_</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="credentials : ${allCredentials}">
					<td th:text="${credentials.username}">...</td>
					<td th:text="${credentials.user.firstName}">...</td>
					<td th:text="${credentials.user.lastName}">...</td>
					<td>
						<form method="POST"
							th:action="@{/projects/share/{id}/sharing/user(id=${credentials.user.id})}">
							<button type="submit" name="submit" value="value">SHARE</button>
						</form>
					</td>
			</tbody>
		</table>
		Back to <a th:href="@{/home}">home Page</a>
	</div>
</body>
</html>
