<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>

<body>
<h1>Change Username</h1>
            <form id="changeUsernameForm" th:action="@{/change/username}" method="POST">
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.username}">...</td>
            
            <td><label for="changeUsernameInput">  -->  change Username </label>
     		<td><input id=changeUsernameInput type="text" placeholder ="NEW USERNAME" required th:field="${changeUsernameForm.username}" /></td>
     		<td th:if="${#fields.hasErrors('changeUsernameForm.username')}"
					th:errors="${changeUsernameForm.username}" th:style="'color:red'"></td>
			<td>
					<button type="submit">Change</button>
				</td>
			</tr>
               
         <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}">...</td>
        </tr>
    </table>
	</form>
</body>

</html>