<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>

<body>
<h1>Change Name and Description</h1>
            <form id="changeNameDescForm" th:action="@{/projects/project/{id}/ChangeNameDesc(id=${project.id})}" method="POST">
    <table>
        <tr>
            <td>Name : </td>
           <td th:text="${project.name}">...</td>
            <td><label for="changeNameInput">  -->  change Name </label>
     		<td><input id=changeNameInput type="text" value="${project.name}" required th:field="${changeNameDescForm.name}" /></td>
           <td th:if="${#fields.hasErrors('changeNameDescForm.name')}" th:errors="${changeNameDescForm.name}" th:style="'color:red'"></td>
			</tr>
			 <tr>
            <td>Description : </td>
            <td th:text="${project.description}">...</td>
            
            <td><label for="changeDescriptionInput">  -->  change Description </label>
     		<td><input id=changDescriptionInput type="text" value="${project.description}" required th:field="${changeNameDescForm.description}" /></td>
        
    </table>
    <button type="submit">Change</button>
	</form>
</body>

</html>