<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>

<body>
<h1>Change Name Or Last</h1>
            <form id="changeNameLastForm" th:action="@{/change/nameLast}" method="POST">
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.username}">...</td>
			</tr>
               
         <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}">...</td>
            
            <td><label for="changeNameLastInput">  -->  change First name </label>
     		<td><input id=changeNameLastInput type="text" value =${user.firstName} required th:field="${changeNameLastForm.firstName}" /></td>
     		<td th:if="${#fields.hasErrors('changeNameLastForm.firstName')}"
					th:errors="${changeNameLastForm.firstName}" th:style="'color:red'"></td>
			
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}">...</td>
            
            <td><label for="changeNameLastInput">  -->  change Last name </label>
     		<td><input id=changeNameLastInput type="text" value="${user.lastName}" required th:field="${changeNameLastForm.lastName}" /></td>
     		<td th:if="${#fields.hasErrors('changeNameLastForm.lastName')}"
					th:errors="${changeNameLastForm.lastName}" th:style="'color:red'"></td>
			
        </tr>
    </table>
   
					<button type="submit">Change</button>

	</form>
</body>

</html>