<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
</head>
<body>
	<h1>My Tasks for:</h1>
	<h2 th:text="${project.name}"></h2>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${myTasks}">
					<td th:text="${task.name}">...</td>
					<td th:text="${task.description}">...</td>
				</tr>
			</tbody>
		</table>
	</div>