<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>
<body>
<h1>Congratulations for registering new Admin!</h1>
<form id="AdminRegister" th:action="@{/add/admin}" method="POST">
   <button type="submit">Conferma</button>
<h2>Back to <a th:href="@{/home}"> Home Page</a></h2>

</form>
</body>
</html>