<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
</head>
<body>
	<h1 th:text="${project.name}"></h1>
	<h4 th:text="${project.description}" style="color: gray"></h4>

	<div th:if="${members.size() > 0}">
		<h3>Shared with:</h3>
		<ul>
			<li th:each="member : ${members}">
				<div th:text="${member.firstName} + ' ' +${member.lastName}"></div>
					<form method="POST"
				th:action="@{/projects/{id}/{idProject}/unshare(id=${member.id} , idProject=${project.id} )}">
				<button type="submit" name="submit" value="value">UNSHARE</button>
			</form>
			</li>
		</ul>
	</div>

	<h3>Tasks</h3>
	<ul>
		<li th:each="task : ${project.tasks}">
			<div th:text="${task.name}"></div>
			<div th:text="${task.description}"></div>
			<form method="GET"
				th:action="@{/projects/task/{id}/{idProject}/share(id=${task.id} , idProject=${project.id} )}">
				<button type="submit" name="submit" value="value">SHARE</button>
			</form>
			<form method="POST"
				th:action="@{/projects/task/{id}/{idProject}/delete(id=${task.id} , idProject=${project.id} )}">
				<button type="submit" name="submit" value="value">DELETE</button>
			</form>
			 <a th:href="@{/projects/task/{id}/ChangeNameDesc(id=${task.id})}">Change Name or description</a>
		</li>
	</ul>
	<a th:href="'/addTask/' + ${project.id}"><button>Add New
			Task</button></a> Back to
	<a th:href="@{/projects}">Projects Page</a>

</body>
</html>