<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
</head>
<body>
	<h1>My Projects</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Tag </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td><a th:href="'/projects/' + ${project.id}"
						th:text="${project.name}">...</a></td>
					<td th:text="${project.description}">...</td>
					<td><a th:href="'/projects/tag/' + ${project.id}">Tag</a></td>
			<td>
						<form method="GET"
							th:action="@{/projects/share/{id}/sharing(id=${project.id})}">
							<button type="submit" name="submit" value="value">SHARE</button>
						</form>
						</td>
					<td>
						<form method="POST"
							th:action="@{/projects/project/{id}/delete(id=${project.id})}">
							<button type="submit" name="submit" value="value">DELETE</button>
						</form>
					</td>
					<td>
					<a th:href="@{/projects/project/{id}/ChangeNameDesc(id=${project.id})}">Change Name or description</a>
					
					<a th:href="@{/projects/project/{id}/addTag(id=${project.id})}">  Add Tag</a>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>

	<h2>
		Back to <a th:href="@{/home}">home Page</a>
	</h2>
</body>
</html>