<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
</head>
<body>
	<h1 th:text="${task.name}"></h1>
	<h2>Condividi con:</h2>
	<table>
		<thead>
			<tr>
				<th>Nome </th>
				<th> Cognome</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member : ${members}">
				<td th:text="${member.firstName} ">...</td>
				<td th:text=" ${member.lastName}">...</td>
				  	<td><form method="POST"
						th:action="@{/projects/task/{id}/{idMember}/sharing(id=${task.id} , idMember=${member.id})}">
						<button type="submit" name="submit" value="value">SHARE</button>
					</form>
					</td>
		</tbody>
	</table>
	<h2>
		Back to <a th:href="@{/home}"> main page</a>
	</h2>
</body>
</html>