<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
</head>
<body>
	<h1 th:text="${project.name}"></h1>
	<h4 th:text="${project.description}" style="color: gray"></h4>
	<h3>Tags</h3>
<table>
    	<thead>
		    <tr>
					<th>Name</th>
					<th>Color</th>
					<th>Description</th>
				</tr>
			</thead>
	<tbody>
				<tr th:each="tag : ${tags}">
					<td th:text="${tag.name}"></td>
					<td th:text="${tag.color}">...</td>
					<td th:text="${tag.description}">...</td>
			   </tr>
			   
	</tbody>
	
	</table>
					
				<h2>
		Back to <a th:href="@{/home}">home Page</a>
	</h2>
	</body></html>