<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>

<body>
<h1>Your Profile</h1>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.username}">...</td>
            <td> <a th:href="@{/change/username}">Change Username</a></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}">...</td>
             <td> <a th:href="@{/change/nameLast}">Change First Name</a></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}">...</td>
             <td> <a th:href="@{/change/nameLast}">Change Last Name</a></td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${credentials.role}"></td>
            <td th:if= " ${credentials.role} == 'ADMIN'"><a th:href="@{/admin}">Admin Page</a></td>
             <td th:if= " ${credentials.role} == 'DEFAULT'"><a th:href="@{/add/admin}">Diventa Admin Ora</a></td>
        </tr> 
        <tr>
            <td>Registered at: </td>
            <td th:text="${user.creationTimestamp}">...</td>
        </tr>
    </table>
    <h2>Back to <a th:href="@{/home}"> main page</a></h2>
</body>
</html>