<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EsameGiugno</title>
</head>
<body>
<h1>No members for this project!</h1>
<h2>Back to <a th:href="@{/home}"> main page</a></h2>

</body>
</html>