<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EsameGiugno</title>
<link rel="stylesheet" href="borders.css" />
</head>
<body>
	<h1>Shared project with me:</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Owner_first_name</th>
				<th>Owner_last_name</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${sharedProjects}">
				<td th:text="${project.name}">...</td>
				<td th:text="${project.description}">...</td>
				<td th:text="${project.owner.firstName}">...</td>
				<td th:text="${project.owner.lastName}">...</td>
				<td><a th:href="'/task/assigned/' + ${project.id}"
					th:text="TASKS">...</a></td>
			</tr>
		</tbody>
	</table>
	<h2>
		Back to <a th:href="@{/home}"> main page</a>
	</h2>
</body>
</html>